[2020-07-21 19:26] renehernandez opened #1 "Content of the repo"
Would this repo store plain kubernetes manifests, or is the plan to support multiple deployment options?, e.g:
* Helm charts
* Kustomize
* Plain kubernetes manifests

[2020-07-22 12:51] tpayet commented on #1
Hi @renehernandez, initially I created this repo in order to get [these manifests](https://github.com/meilisearch/MeiliSearch/pull/815/files) here.

I am not familiar with kustomize so far, but I guess we could have the plain manifests & the helm charts. If the kustomize file seems good to have here in your opinion we should too :)

What I would like to have is when developers search to deploy Mei

[2020-07-22 13:41] renehernandez commented on #1
Yes, I work with kubernetes in AWS at our company. I have deployed Meilisearch on kubernetes using a helm chart I created for it.

That seems like a good idea. The only concern there is that supporting multiple ways to deploying to kubernete means that every time you are doing a change you need to verify that change is replicated across the different tooling

I haven't used kustomize in the past,

[2020-07-22 13:42] renehernandez commented on #1
I am going to look if I can open source the code for the meilisearch chart

[2020-07-22 14:05] tpayet commented on #1
Yes, I get your concern.. I do not have any solution in mind so far to avoid this situation..

You're right! I can create a meilisearch/meilisearch-helm repository for this once we have a improved README on this K8s repository ^^
We used k8s internally, so I also have some manifests on my side but they are pretty basic with a deploy, a private volume claim & a service. I only tried them on DO  k8s

[2020-07-22 14:29] renehernandez commented on #1
Definitely, an ingress allows for customizing host and rules access to the service in the cluster.

Also, in my case I went with a statefulset instead of a deployment

[2020-07-29 13:09] renehernandez opened #3 "Add action workflows for testing kubernetes deployments"
As part of verifying changes to this repository during the CI, it is necessary to implement automatic deployments to a kubernetes cluster in order to verify that MeiliSearch is being deployed correctly and can serve requests.

Tools like [kind](https://github.com/kubernetes-sigs/kind) allow you to run a kubernetes cluster on docker, which makes it a perfect fit for the CI environment.

[2020-08-14 07:31] Rio commented on #1
Hi everyone, I was the one that suggested kubernetes manifests and @tpayet initially invited me as an maintainer. However vacation and other stuff happened so by the time I got around to it the invitation expired :sweat_smile:, sorry about that.

The initial manifests I wanted to post were kustomize based as is just about everything in our clusters. I'm a big fan of it especially with the componen

[2020-08-17 07:47] tpayet commented on #1
Hey @Rio :) Thanks for coming back!

Are you saying that we could have manifests automatically generated using `helm template` that we could commit on this repository? Indeed that sounds a good place to start :)

[2020-08-17 17:07] Rio commented on #1
Exactly. A good example is [cert manager's repo](https://github.com/jetstack/cert-manager/tree/master/deploy).

This way people that quickly want to helm install to play with things can still do so while other operators that like to add customizations and see exactly what is going on in their manifests can still do all of their git and yaml foo. They can even use something like [kpt](https://googl

[2020-08-17 20:09] Bajix commented on #1
See https://github.com/Imagine-Impact/meilisearch-helm for a reference chart I previously created

[2020-08-18 21:50] renehernandez opened #4 "meili-docs helm chart"
I've thinking about the idea of having a ready-to-use helm chart that would do the following:

* Deploy the meilisearch chart
* Deploy the [docs-scraper](https://github.com/meilisearch/docs-scraper) as another component. Options could be:
    * Cronjob to run on a specific schedule, e.g daily, hourly
    * A listener pod that could wait for requests to trigger the docs-scraper cli
* A default fron

[2020-08-25 13:34] #3 closed

[2020-08-26 15:14] eskombro commented on #4
It would be amazing! We can also use https://github.com/meilisearch/instant-meilisearch for the front-end!

[2020-09-07 17:13] eskombro commented on #1
Hey @Rio thanks, following that idea I added manifests and a little getting strated. Can you have a look at https://github.com/meilisearch/meilisearch-kubernetes/pull/10 ?

[2020-09-07 17:20] eskombro opened #11 "Add a CONTRIBUTING.md"
Create a nice welcoming file for new contributors, specifying every detail, and especially the developer workflow, and how to test, lint and release.

We should add a workflow where manifests are re-created after a Helm chart modification (either automatically in the CI or by the developer).

It can be inspired in our SDKs CONTRIBUTING.md files, such as [this](https://github.com/meilisearch/meilis

[2020-09-08 09:29] eskombro opened #12 "Add github action for manifests"
Create a Github action that generates manifests using `helm template meilisearch charts/meilisearch` and compares the output with the manifest stored at `manifests/meilisearch.yaml` to be sure that the manifests are up to date with the Helm chart changes.

It would be interesting to explore if there is a better way of automatically generating manifests in the CI.

[2020-09-08 19:32] renehernandez opened #13 "Configure a helm char repo as part of helm hub"
Set up a helm chart repository and integrate it with Helm Hub following the guide: https://github.com/helm/hub/blob/master/Repositories.md

That way, developers can use the chart without the need to clone the repository and instead referencing the chart through the meilisearch helm repo index

Example:
[code]

[2020-10-09 21:43] deshetti opened #14 "Provide ability to override default namespace for Meili helm chart"
Current chart doesn't provide a way to change the `default` namespace where Meilisearch is installed

[2020-10-09 21:55] deshetti opened #15 "Installation notes displayed for helm chart shows wrong info for port-forwarding"
When I installed the chart with ClusterIP, the following notes are displayed:

[code]

**Issue 1:** The port-forward displayed should be based on the service and not the pod, it should display the following info for port-forwarding:

[code]

**Issue 2:** Display the access URL after the port-forwarding

[2020-10-09 22:37] deshetti commented on #14
sorry, i realized it is better off to handle it using `--namespace <overridden namespace>` instead of providing an option. i installed using this flag and seems like it is working as expected.

[2020-10-09 22:37] #14 closed

[2020-10-09 23:35] deshetti opened #16 "Increase the version to v0.15.0 for helm chart"

[2020-10-09 23:43] #1 closed

[2020-10-09 23:43] eskombro commented on #1
Thanks for your contributions!!! 🎉

[2020-10-10 00:14] #16 closed

[2020-10-10 17:34] deshetti opened #19 "Generate secret key automatically for production environment if one is not provided"
When `environment.MEILI_ENV` is set to `production` it is documented that `environment.MEILI_MASTER_KEY` is required.

If one is not provided, it should generate the key automatically

[2020-10-10 19:21] deshetti opened #21 "Cleanup manifests with the info related to Helm"
I was looking at the manifests and not sure if we need these lines? I am thinking the reason for manifests is to install on Kubernetes without Helm.

[code]

In fact, they are wrong IMO, cuz they are not managed by Helm if the manifest files are installed separately on Kubernetes.

[2020-10-13 00:29] deshetti commented on #13
@renehernandez Helm Hub / Artifact Hub inclusion just seems to be for the repositories to be available in for `helm search hub meilisearch`. Steps from the link you mentioned are for the inclusion of the existing repository to Artifact Hub.

Prior to that we need to create setup the chart in its own repository by following the steps here: https://helm.sh/docs/topics/chart_repository/

That way the

[2020-10-13 14:51] eskombro commented on #21
Totally rigth @deshetti, they were included because the manifests were auto-generated from the Helm chart, and they can absolutely be removed :)

[2020-10-13 14:55] eskombro commented on #19
If it is automatically generated, how would the user have access to it?

We could also think on a flow where deployment would fail if you defined `environment.MEILI_ENV` to `production` without setting up a master key

[2020-10-13 17:00] renehernandez commented on #13
@deshetti Good catch! I think we can reuse this repository for it. According to this [section](https://helm.sh/docs/topics/chart_repository/#github-pages-example), we could leverage GIthub Pages to publish from a gh-pages branch

[2020-10-13 17:37] #21 closed

[2020-10-13 17:37] #15 closed

[2020-10-13 20:12] eskombro commented on #13
It seems like a great idea to modify this repository into use it as a chart repository, and use GitHub pages to serve the chart(s)!

[2020-10-21 18:59] eskombro commented on #13
Helm Hub Moving To Artifact Hub

https://helm.sh/blog/helm-hub-moving-to-artifact-hub/

[2020-10-26 19:17] deshetti commented on #13
@eskombro would it be possible for you to implement this? https://helm.sh/docs/topics/chart_repository/#github-pages-example

[2020-10-26 19:25] deshetti commented on #19
@eskombro sorry for the delayed response.

I was thinking we should create a kubernetes secret if a value is not provided and assign the value to `environment.MEILI_MASTER_KEY`. After the installation user will have to get the value from the secret file. In fact, most helm charts follow this process.

_We could also think on a flow where deployment would fail if you defined environment.MEILI_ENV t

[2020-10-27 13:39] eskombro commented on #13
Sure! I take note and I'll have a look at it soon (a little busy atm)! I'll let you know when I get into it :)

[2020-10-27 13:43] eskombro commented on #19
In that case, wouldn't it be possible to run a MeiliSearch instance in development environment?

Amazing! That would be great, feel free to take it if you have some time and we haven't started working on it :)

[2020-11-13 17:22] deshetti opened #24 "PVC gets deleted even when persistence is enabled"
I installed the helm chart with` persistence.enabled: true` and when I uninstalled the helm chart I see that the PVC was deleted. I would assume that PVC would not be deleted when I uninstall the chart in persistence mode, it should be only be deleted manually.

[2020-11-13 17:26] deshetti opened #25 "Installing more than one replica doesn't work"
I am trying to install using helm chart on DigitalOcean, but I believe the same would happen on GCS or AWS since the default storageclass on these providers doesn't support ReadWriteMany access mode.

When I tried installing the chart using `replicaCount: 2`, I see that the first pod is created and running as expected and the second one is stuck in the status `ContainerCreating`

Following the is

[2020-11-17 09:56] eskombro commented on #25
Hey @deshetti,

Indeed, this seems to be an issue, but as for now MeiliSearch itself wouldn't support it either, since it desn't allow reading from the same database by several instances. The core team is workin on a high availability and consensus feature that will let us create several instances for replication and consistency. This should be available in the next few months (can't tell what wou

[2020-11-17 09:59] eskombro commented on #24
Interesting, this deserves a little further investigation, as I see [here](https://github.com/helm/helm/issues/5156) developers having quite the opposite issue

Any insigths @renehernandez ? :)

[2020-11-17 14:22] renehernandez commented on #24
I think the issue lies that we are defining a `PersistentVolumeClaim` object at https://github.com/meilisearch/meilisearch-kubernetes/blob/master/charts/meilisearch/templates/pvc.yaml and mounting it in the `StatefulSet` definition; instead of relying on `volumeClaimTemplates` to automatically define the PVCs.

My suspiction is that since we are defining the `PVC` object and it is managed by Helm,

[2020-11-17 14:25] renehernandez commented on #24
We could either moved the `PVC` to be declared as a `volumeClaimTemplates` section or add the `helm.sh/resource-policy: keep` annotation to the `PVC` template so it isn't deleted

[2020-12-09 23:07] HelmutLety opened #27 "Liveness and Readiness Probe Failing with Meilisearch v.0.17.0 on production"
With Meilisearch v.0.17.0, when production is enabled, the frontend is disabled.
The readiness and liveness Probe in Kubernetess will fail, because it is a httpGet on the frontend

[2020-12-09 23:23] HelmutLety commented on #27
I may have found a Solution.
Using           _tcpSocket_ instead as _httpGet_ in the probes in Statefulset.
Gonna do a PR tomorrow

[2020-12-10 08:46] eskombro commented on #27
Hi @HelmutLety

Well spotted, you are absolutely right! An httpGet on `/` now returns a 404, which makes the `livenessProbe` broken. Thanks for this feedback and will be glad to check your PR anytime, please ping me :)

[2020-12-10 09:23] eskombro commented on #27
We should be using the [get health](https://docs.meilisearch.com/references/health.html#get-health) route IMO

[2020-12-10 11:55] eskombro opened #29 "Helm: make livenessProbe customizable by adding initialDelaySeconds and periodSeconds"
With #28 , `livenessProbe` checks for MeiliSearch API `/health` route in order to check container liveness.

livenessProbe could/should be customizable by the user, by adding two items that should ve present in the `values.yaml`:

- `initialDelaySeconds`: Defines the delay that should happen before the first health check
- `periodSeconds`: Defines the interval in which the container health should

[2020-12-10 11:59] #27 closed

[2020-12-10 12:51] eskombro opened #30 "Add BORS to repo"
BORS is an automatic tool for runing tests, staging and merging, widely used in MeiliSearch repositories, but missing in this repository.

It makes open-source contributions and the repository maintaining extremely pleasant 🎉

[2020-12-10 14:39] #30 closed

[2020-12-11 00:39] eskombro opened #37 "Add GitHub releases to CI"

[2020-12-11 09:35] HelmutLety opened #38 "Add MEILI_MASTER_KEY in values"
To have this chart production ready, it would be good to have the MEILI_MASTER_KEY env set in the values file.
If MEILI_ENV is set to production, it will inject the key into the pod.
This can also be used to have the production environment tested, because there are some differences between development and production.

This Week I had the issue that the new version was working fine on development m

[2020-12-11 09:40] HelmutLety opened #39 "Automated the manifest file"
We having a redundancy between the chart file and the meilisearch.yaml file in Manifest. Which is not a bad thing. Although, it may be good to have the manifest file created automatically when a change is done in the charts, or at least compared, during a pipeline.

What do you guys think? We having now the possibility that we changing the charts, and forgetting about the manifest, and this one wi

[2020-12-11 09:43] HelmutLety commented on #29
I think this can be closed now @eskombro :)

[2020-12-11 09:52] curquiza commented on #29
Closing then! Really nice PR @HelmutLety!

[2020-12-14 10:11] eskombro commented on #39
Hi @HelmutLety

This seems to be a duplicate of https://github.com/meilisearch/meilisearch-kubernetes/issues/12

Totally agree with this, but would be better to discuss it there? :)

[2020-12-14 10:11] #39 closed

[2020-12-14 10:12] HelmutLety commented on #39
Oh yes! sorry didn't saw that :)

[2020-12-14 10:14] eskombro commented on #12
@HelmutLety

This issue address the idea you proposed in #39

The only "problem" I have found with this approach, is that a lot of tags are added to the manifests that are completely unnecessary and polute them. This doesn't create any issue other than affecting readability, and this is a good approach for maintainability!

[2020-12-14 11:11] curquiza commented on #37
Hello!

A release **drafter** is useful when the release creation is done via the GitHub interface: you accumulate PRs and then, when you want, you trigger the release creation. Currently, in this package, it looks like each PR = a new release because the version changes in the chart file.

We could create releases on GitHub too, but the draft is not necessary: instead, we should configure a bot/h

[2020-12-14 12:11] eskombro commented on #37
As for now, we are only handling Helm charts and manifests, so this seems ok to me.

But depending on its evolution, the Helm chart version won't necessarily reflect meilisearch-kubernetes version in the future.

So maybe having GitHub releases make sense. As for now, we can totally automate them and make them correspond to the version we are defining on the charts, and if this evolves we can reco

[2020-12-14 12:13] eskombro commented on #37
I changed the title of this issue, feel free to modify if you want it to be more specific or reflect something different :)

[2020-12-14 15:37] curquiza commented on #37
In the other SDKs, we automate in CIs:
- the update of the release draft when the PR is merged.
- the push of the package when a release is triggered. Ex: the JS SDK is built and then is pushed to npm...

Sorry for my noob question, but this repo does not seem to have any publishment of the package to any platform, am I right? And for the moment, there is no need for a release drafter since there

[2020-12-14 17:40] eskombro commented on #37
Thanks @curquiza

The Helm chart publish process to an "official" repository is discussed [here](https://github.com/meilisearch/meilisearch-kubernetes/issues/13) and no decision has been made, but is an interesting one. I think that this is the most important point to discuss now, and I realize I am kind of adding just unnecessary noise with this new issue, so I think the best option is to find a

[2020-12-14 17:40] #37 closed

[2020-12-14 17:58] curquiza commented on #37
Ah thanks, this was the kind of discussion I was looking for when writing my comment!!! 👍 Awesome!

[2021-01-06 17:07] fharper opened #40 "Change master branch to main"
Let's be allies and make this change that means a lot.

Here is a [blog post](https://www.hanselman.com/blog/easily-rename-your-git-default-branch-from-master-to-main) that explain a little more why it's important, and how to easily do it. It will be a bit more complicated with automation, but we still should do it!

[2021-01-06 19:56] fharper opened #41 "Add 2021 to license year"
I'll create a GitHub action for next years.

[2021-01-18 22:49] #41 closed

[2021-01-25 13:00] simonxxz opened #45 "Pod has unbound immediate PersistentVolumeClaims"
Hi guys! I installed meilisearch on my k8s cluster and it's pending forever. It shows 'failedscheduling‘ for 'Pod has unbound immediate PersistentVolumeClaims', even though I enabled pvc persistence in values.yaml. Here is the code:
persistence:
  type: pvc
  enabled: true
  storageClassName: default
  accessMode: ReadWriteOnce
  size: 10Gi
  finalizers:
    - kubernetes.io/pvc-protection

 Any he

[2021-01-26 02:03] simonxxz opened #46 "Pod has unbound immediate PersistentVolumeClaims'"
Hi guys! I installed meilisearch (from https://github.com/meilisearch/meilisearch-kubernetes) on my Centos k8s cluster and the pod is 'pending' forever. It shows 'failedscheduling‘ for 'Pod has unbound immediate PersistentVolumeClaims', even though there is a pvc.yaml in the 'templates' folder and I enabled pvc persistence in values.yaml. Here is the code in my yaml file:

persistence:
type: pvc
e

[2021-01-26 13:43] tpayet commented on #46
Hey @simonxxz I transferred this issue meilisearch-kubernetes repository since this seems to be an issue directly related to Kubernetes.
Have a nice day

[2021-01-26 20:13] curquiza commented on #45
Hello @simonxxz!
@eskombro is unavailable this week and will help you on this during next week 🙂

[2021-01-26 20:14] curquiza commented on #46
Duplication of #45

[2021-01-26 20:14] #46 closed

[2021-01-27 06:16] simonxxz commented on #45
Hi curquiza! Thank you for that information! I actually solved this pvc problem by changing the 'storageClassName' to 'storageClass'. Don't know it was my typo or it's from the older versions. Tho I ran into another problem where meili stores documents and deals with searching requests at the same time; I keep getting 'http error 408' on the webUI and the meili pod restarts spontaneously. Maybe I

[2021-01-27 09:33] curquiza commented on #45
I think your 408 issue is this one: https://github.com/meilisearch/MeiliSearch/issues/1202
Our developer will answer about it asap 🙂
If it's not related, please open an issue.

I close this issue since you solved it!

[2021-01-27 09:33] #45 closed

[2021-02-01 07:24] simonxxz opened #47 "service:NodePort does not match the correct NodePort"
I defined the #NodePort to be exposed, for example, 31009, in values.yaml.  But when I installed the helm chart, the real NodePort ranged from 31000 to 33000 and was never the specified 31009.

[2021-02-01 07:28] simonxxz opened #48 "Feature request: volume mounting"
I really like the volume mounting feature to bind data.ms when using Meili in docker. Is there a way in values.yaml to do the same thing?

[2021-02-04 21:39] eskombro commented on #48
Hi @simonxxz

Sorry for the late answer! Indeed, in the Helm chart there is a Persistance option that is disabled by default but you can enable it in `values.yaml`

Take a look at this: https://github.com/meilisearch/meilisearch-kubernetes/blob/master/charts/meilisearch/values.yaml#L44-L55

This will request a volume creation in the StatefulSet as you can see here:

https://github.com/meilisearch/

[2021-02-04 21:41] eskombro commented on #47
Hi @simonxxz

Con you show us an example of your configuration?

[2021-02-05 04:50] simonxxz commented on #47
Here is my config:
service:
  type: NodePort
  port: 7700
  NodePort: 31009

Is there anything config I have to add to make nodeport work correctly?

[2021-02-09 07:18] simonxxz commented on #48
Thanks, it works!

[2021-02-09 09:09] #48 closed

[2021-02-09 09:09] curquiza commented on #48
Closing the issue then! Feel free to re-open

[2021-02-11 17:58] eskombro opened #50 "Add the possibility to precise nodePort in values.yaml if service type is NodePort"
In `values.yaml` it is possible to define the Service type. But if a user defines it as a `NodePort` service, there is no field in the chart to specify the `nodePort`, so kubernetes will allow a random port.

In a NodePort Service, the `nodePort` field is defined as follows:

![](https://files.slack.com/files-pri/TD4JJU04D-F01MDLU4JFR/screenshot_2021-02-11_at_18.48.52.png)

But MeiliSearch chart i

[2021-02-11 18:04] eskombro commented on #47
HI @simonxxz

Indeed, the chart is not prepared to add the `nodePort` field, so the port you are specifying is basically ignored. I detailed this on this issue: https://github.com/meilisearch/meilisearch-kubernetes/issues/50

Feel free to add any useful info in there, and if you feel like doing a fix on it it would be amazing to have your contribution! :)

(Closing in favor of #50, feel free to re

[2021-02-11 18:04] #47 closed

[2021-02-23 14:20] eskombro opened #53 "Migrate some static values from statefulset.yaml to values.yaml"
The value of this fields should be defined in `values.yaml` instead of having static values on `statefulset.yaml` to allow better customization:

- spec.template.spec.volumes.name (data)
- spec.template.spec.containers.volumeMounts.name (data) (linked to name in the previous line)
- spec.template.spec.containers.volumeMounts.mountPath (data.ms)

- spec.template.spec.containers.ports.containerPort

[2021-03-01 22:38] fharper opened #55 "Add steps for running the web interface in the README"
Right now it's not easy to run this project since there are a lot of steps like dependencies not listed and the app is expecting multiple environment variables.

[2021-03-03 02:59] simonxxz commented on #25
Hi guys! I'm also expecting a real-time synchronization feature for mutiple databases. This would be a lot better to use in production than using snapshots/dumps.

[2021-03-03 09:18] eskombro commented on #25
Hi @simonxxz

This is in MeiliSearch's roadmap indeed, but as for now, the engine is not capable of providing replication and a distributed deployment. If this feature is important for you I invite you to give it a little upvote in the roadmap, but be reassured that the team is working on that :)

[High Availability on our roadmap](https://roadmap.meilisearch.com/c/24-high-availibility)

[2021-03-03 21:17] alimoabd2127 opened #56 "GKE ingress health check fails"
If someone is to create a GKE ingress, it requires that the health check endpoint respond with a code 200 as described [here](https://cloud.google.com/kubernetes-engine/docs/concepts/ingress#def_inf_hc). Currently, the workaround is to switch back to the / endpoint rather than the /health because / responds with a 200 rather than a 204.
[code]
I haven't looked at the helm charts, but I did modify

[2021-03-08 15:41] eskombro commented on #56
@alimoabd2127

The `/` route sends a 200 only when in development environment, but as soon as you run it in production environment, this behavior changes, and this workaround won't be a solution anymore. This should be indeed treated in MeiliSearch core itself, to fix the problem!

Thanks for the issue!

[2021-03-08 16:28] curquiza commented on #56
Hello @alimoabd2127!
A fix will be done in a near future to fix this issue in the [MeiliSearch repo](https://github.com/meilisearch/Meilisearch)!
Closing this issue since it's related to this repo!
And thanks @alimoabd2127 for the workaround

[2021-03-08 16:28] #56 closed

[2021-03-16 10:39] #13 closed

[2021-03-17 15:27] #53 closed

[2021-03-21 19:38] carlreid commented on #40
@fharper / @eskombro I think you can close this issue, `main` is already in use 👍

[2021-03-21 22:28] #40 closed

[2021-03-24 21:26] #19 closed

[2021-03-24 21:26] #38 closed

[2021-03-24 21:31] eskombro commented on #12
Fixed by #61 but reverted by #64

Waiting for fix... so I reopen

[2021-03-29 03:35] #11 closed

[2021-04-15 08:38] eskombro opened #66 "Add customizable annotations to templates and values.yaml"
A user should be able to add specific annotations to specific resources. These values, located in `values.yaml`, should be reflected in the templates.

For an example of implementation (from @deshetti chart in [factly MeiliSearch chart](https://github.com/factly/helm-charts/blob/main/charts/meilisearch)):

Annotiations are added to service template [here](https://github.com/factly/helm-charts/blob

[2021-05-10 14:06] NathalieNX opened #68 "Meilisearch Pod fails on Openshift due to root permission denial"
We are using Openshift, and none of the pods have root access (for security reasons). This means the line in the Dockerfile `CMD ["/bin/sh" "-c" "./meilisearch"]` fails with message `Error: Permission denied (os error 13)`, and the meilisearch fails with a `CrashLoopBackoff` error.

We were able to reproduce this behavior by creating a debug pod and running the command with the same result :
[code

[2021-05-12 16:32] alallema commented on #68
Hi @NathalieNX,
Thanks for raising this issue but I need some details about the context:
- Which version of Meilisearch did you use?
- Which version of meilisearch-kubernetes did you use?
- Which docker file are you referring to?
- Did you check the permission of your binary file?

[2021-05-17 07:51] #12 closed

[2021-05-19 08:39] NathalieNX commented on #68
Thanks for the questions :
- Meilisearch version v0.19.0 (specified in the meilisearch-kubernetes `charts/meilisearch/Chart.yaml`)
- meilisearch-kubernetes version 0.1.14 (latest, released march 24th), included as a dependency in my project Helm chart
- The dockerfile I am referring to is the one I found on Dockerhub for Meilisearch v0.19.0 (line 8 ; this is the command I tried to reproduce in the

[2021-05-24 11:02] alallema commented on #68
Hi @NathalieNX,
Thanks for your info. Everything looks good to me. `meilisearch` will never need root rights to run just write rights.
So I guess the problem came from the fact that in Openshift the image is built as root and needs to run as the root user.
But I suppose recommended best practice is to avoid containers that need to run as root.
Hope this will help you

[2021-05-24 12:16] alallema opened #70 "Checks stuck in Waiting for status to be reported"
**Description**
When using the automatic fixing tool by comment for sync chart, Github checks/actions get stuck in:
`Expected — Waiting for status to be reported`
Bors get stuck too after a `bors try` even if the checks have passed and it never comments with:
`Build succeeded`

[2021-05-24 12:53] alallema commented on #70
Hi @carlreid!
I try your fixing tool by comment here #69 and the commit works well but unfortunately, it seems to break the checks after launch it. I guess that it's because Github can find the other checks in this [job](https://github.com/meilisearch/meilisearch-kubernetes/pull/69/checks). I also think that if I commit again it will get unstuck it but I'm not sure.
If you had any idea of the prob

[2021-05-24 13:05] carlreid commented on #70
Hey, I'm not sure how you guys are using bors and what it does.

But it seems like it's maybe getting stuck because the check only runs against `main`. I would try also adding the `trying` branch and see if that resolves the issue.

It does seem very odd though 🤔

[2021-05-24 14:10] alallema commented on #70
@carlreid,
Thanks for your help again! I think the problem is that jobs can't launch other jobs to avoid infinite loops. On the other hand, the branch settings require status checks to pass before merging so somewhere it gets stuck.
For now, I will remove the comment fixing tool even if I like it, keep the check chart and add it to the mandatory Bors checks.

[2021-05-24 14:21] carlreid commented on #70
I don't think a job is running any other jobs. The comment will trigger the sync job to run, which will update the manifest and commit it to the source. Which will then trigger the check job to run again (as would any commit). But that's the end of the flow from what I can remember. Make sure to ignore if `Sync chart manifest on comment` is ran though, if bors is setup to check it

But if it is ca

[2021-05-24 15:31] curquiza opened #71 "Add meilisearch chart sync command in CONTRIBUTING.md"
Following this addition in this PR #65

[2021-05-24 15:32] #70 closed

[2021-05-24 15:53] alallema commented on #70
It's working! You were right 🎉

[2021-05-24 17:17] #71 closed

[2021-06-22 20:03] ook opened #74 "Can't run Meili with persistance enabled"
**Description**

Using latest helm chart, on a k8s v1.18.17 cluster, values.yaml only set the storage class (that target a kadalu.io working storage class).
The error occurs identically on production and development mode.
If I remove the persistence, Meili works as expected.
The Kadalu server works perfectly (dynamic provisioning, the generated PV is functional)

**Expected behavior**

Meili start

[2021-07-01 11:38] alallema commented on #74
Hi @ook
Thank you for report this issue and sorry for the delay.
I try to reproduce your issue but I can get it.
Can I have a detail of the more specific steps you have done?
Also `Error: heed error; Value too large for data type (os error 75)` came from the core so the engine Meilisearch.
Maybe the Meilisearch engine doesn’t support your architecture and it will be really interesting to know why.

[2021-07-01 21:08] ook commented on #74
Hi @alallema
As you suggested, I forced tag `v0.20.0` … and it works with the persistence!
So, I could tell that for helm meilisearch-0.1.14 we need to use tag >= v0.20.0 to work with persistence.

Thank you.

[2021-07-01 21:08] #74 closed

[2021-07-15 21:02] laurenz-glueck commented on #25
Is there any update on this topic or an eta?

[2021-07-21 09:53] alallema commented on #25
Hi @laurenz-glueck,
Thanks for asking. The team has planned to move forward on the issue around the end of the year but it is possible that it will change. Nevertheless, it is still a goal that we would really like to achieve.

[2021-08-03 08:09] alallema commented on #68
I'm closing this issue because it is outdated. Feel free to reopen it if you need it.

[2021-08-03 08:09] #68 closed

[2021-09-28 10:01] curquiza commented on #4
Seems like an idea of a complete project, not really related to meilisearch-kubernetes. This would involve a new integration.
Still a good idea anyway, but I close this one since it's not only related to this repo only.
Feel free to open a detailed issue of your plan in [integration-guides](https://github.com/meilisearch/integration-guides) 🙂

[2021-09-28 10:02] #4 closed

[2021-09-28 10:43] alallema commented on #25
Closing due to lack of answer, feel free to re-open if needed of course 🙂

[2021-10-01 15:44] allangalera opened #79 "Add custom labels to values and all templates"
**Description**
Add the possibility to customize the labels on all templates so that it can improve governance. On the company I work we use these values to identify which squad, csot center, etc.

**Basic example**
Add a `customLabels: {}` on `values.yaml` and add to all labels on templates.

I forked the repo be more clear:

[values.yaml](https://github.com/allangalera/meilisearch-kubernetes/blo

[2021-10-04 10:06] alallema commented on #79
Hi @allangalera,
Thanks for the proposal. Indeed this could be really useful.
If you want to create a PR I will be great to review it and merge it. It will obviously be taken into account in the Hackoberfest if you participate.
If you need help or if you don't want to create a PR it's fine too.
Have a nice day and thanks again

[2021-10-04 15:49] allangalera commented on #79
Hi @alallema
I can open the PR. It's ready. I just need permisison to create a branch and open the PR 👍

Have a nice day and thanks for the fast and kind response 😸

[2021-10-04 20:39] alallema commented on #79
Hi @allangalera,
We don't give permission to the contributors on the repo. You can see [here](https://github.com/meilisearch/meilisearch-kubernetes/blob/main/CONTRIBUTING.md#how-to-contribute) how to contribute!
If you have any issues don't hesitate to ask 😊

[2021-10-04 21:19] allangalera commented on #79
Hi @alallema.
Oh sorry! My bad 🤦
Here is the link to the [PR](https://github.com/meilisearch/meilisearch-kubernetes/pull/80)
Tell me if there is anything wrong so that I can change 😸

[2021-10-11 11:33] kevin96666 opened #82 "Implement existingClaim functionality"
**Description**
Make possible to bind pvc existingClaim

**Basic example**
Someting like this :
{{- if and if .Values.persistence.enabled if .Values.persistence.existingClaim }}
        - name: data
          persistentVolumeClaim:
            claimName: {{ .Values.persistence.existingClaim }}

[2021-11-16 20:04] #66 closed

[2021-12-09 14:54] curquiza opened #89 "New path for data.ms?"
Since v0.24.0, MeiliSearch runs using the `meili` users in the docker container. This involves a change regarding the path of the `data.ms` folder by default. It's now `/home/meili/data.ms` instead of `/data.ms`

Shouldn't we change the lines here according to the new path? I'm really asking, I don't know the answer, you have to check @alallema 😄

https://github.com/meilisearch/meilisearch-kuberne

[2021-12-09 15:17] alallema commented on #89
@curquiza, I'm not sure either but I think this path is where it will be mounted.
I will check that.

[2021-12-10 03:12] thanhtoan1196 commented on #89
I think the path needs to be changed, because currently persistence is not working, after my pod is shut down, there is no data left

[2021-12-11 21:23] fr3fou opened #90 "Doesn't work on M1 / ARM"
I tried deploying the Helm chart on a minikube cluster on my M1 MacBook and got the following error:
[code]

**Environment (please complete the following information):**
- OS: macOS 11.5.2 on MacBook Pro 2021 M1
- MeiliSearch version: v0.24.0
- meilisearch-kubernetes version: v0.1.21

[2021-12-11 23:06] fr3fou opened #91 "Pod status is never ready"
I tried running the Helm Chart with
[code]

[code]
This is the `server_meilisearch` Dockerfile image that was passed into minikube using `minikube image load server_meilisearch`
[code]
![image](https://user-images.githubusercontent.com/1344906/145694253-dc4b9a54-cfea-4935-a528-35db40dba0bd.png)
This also occurs on other versions of MeiliSearch.
- OS: macOS 11.5.2 on MacBook Pro 2021 M1
- MeiliSear

[2021-12-12 21:39] alallema commented on #89
Hi @thanhtoan1196,
Sorry about this and thank you for letting us know.

[2021-12-13 09:12] alallema commented on #90
Hi @fr3fou,
Indeed we don't have yet an official docker image for M1. But it should be available on the next release v0.25.0!

[2021-12-13 09:26] fr3fou commented on #91
![image](https://user-images.githubusercontent.com/1344906/145786151-343cdb41-9194-4ae3-b264-92dc6979a981.png)
Doesn't seem to want to build

[2021-12-13 09:42] alallema commented on #91
It's failed while fetching dependency you can try to add:
`apt-get update --no-cache` and see if it's passed.

[2021-12-13 09:44] fr3fou commented on #91
`--no-cache` doesn't seem to be a valid flag for `apt-get udpate`

[2021-12-13 09:46] alallema commented on #91
Indeed ... You have already tried with the `--fix-missing` flag from the error?

[2021-12-13 09:47] fr3fou commented on #91
Yeah I did,
![Uploading image.png…]()

[2021-12-13 09:54] alallema commented on #91
Ok, I'm sorry I just see that I made a mistake the `--no-cache` flag is for docker ...

[2021-12-13 10:18] fr3fou commented on #91
Yeah, that seems to have worked – the Pod is now running, why though?

[2021-12-13 10:44] fr3fou opened #92 "Recommended way to do backups?"
I want to backup my MeiliSearch data but not sure what approach to take. I was thinking of something using a cron job that uploads the dump to S3. What's the recommended way to do this?

[2021-12-13 11:00] alallema commented on #91
It's du to build caching, if you don't use `-rm` or `--no-cache` flag Docker will reuse the intermediate image created the last time RUN apt-get -y update executed instead of running the command again.
I closed this issue then

[2021-12-13 11:00] #91 closed

[2021-12-13 11:01] fr3fou commented on #91
I was asking why does the Dockerfile you sent work but mine doesn't ^^

[2021-12-13 12:11] alallema commented on #91
Sorry I misunderstood. I don't know exactly. We should try to run some tests to see where the problem came from.

[2021-12-29 09:20] alallema commented on #92
Hi @fr3fou,
Sorry for the delay in responding. We don't have a specific recommended way, you can indeed make schedule snapshots or make dumps regularly. You can check the documentation on [backup](https://docs.meilisearch.com/learn/advanced/snapshots_vs_dumps.html) to see. Do not hesitate to tell us if you find a good solution 😊.

[2021-12-29 09:38] fr3fou commented on #92
I was thinking of setting up a Kubernetes `CronJob` (https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/) using some kind of Docker image that creates a dump then uploads it to S3 as I mentioned in the original issue. However I was wondering if there's an official image that does something similar to this or a community one.

[2021-12-29 10:30] alallema commented on #92
There is no such thing, for now, we have this repo for Kubernetes clusters and an official docker image. I don't know anything about something like that in the community but it would be a great addition!

[2022-01-05 14:50] curquiza commented on #89
In v0.25.0, the path of data.ms will be back to `/` and not `/home/meili`. More detail here to know why: https://github.com/meilisearch/MeiliSearch/issues/2051

[2022-01-05 14:50] curquiza commented on #89
I think we can close this issue @alallema then

[2022-01-05 15:24] alallema commented on #89
I would like to check if the persistence works well with the v0.25.0 before.

[2022-01-11 19:53] alallema commented on #90
The new docker image for M1 is finally out and available! You can check how it's work [here](https://docs.meilisearch.com/learn/getting_started/installation.html#download-and-launch)

[2022-01-11 19:53] #90 closed

[2022-01-19 09:00] Arv1nt3 opened #95 "Error: Version file is missing or the previous MeiliSearch engine version was below 0.24.0. Use a dump to update MeiliSearch."
**Description**
Meilisearch won't start with v0.25.0 but will work with v0.24.0

**Expected behavior**
Meilisearch starts

**Current behavior**
Meilisearch doesn't start

**Screenshots or Logs**
Error: Version file is missing or the previous MeiliSearch engine version was below 0.24.0. Use a dump to update MeiliSearch.

**Environment (please complete the following information):**
- MeiliSearch ver

[2022-01-19 10:33] alallema commented on #95
Hi @Arv1nt3,
Thanks for this report and a good catch! I have tried to run v0.24.0 then v0.25.0 of Meilisearch locally and I have exactly the same issue, even from v0.24.0 to v0.25.2. I will ask to transfer this issue to `Meilisearch` repository because I think it belongs to it.

[2022-01-19 13:09] alallema commented on #95
Hi @Arv1nt3,
I check this is expected behavior. You can open a `v.0.24.x` database with a `v0.25.x` version. There are too many breaks between the two versions. You are supposed to create a [dump](https://docs.meilisearch.com/learn/advanced/dumps.html#creating-a-dump). You can check the documentation [about it](https://docs.meilisearch.com/learn/advanced/snapshots_vs_dumps.html#data-backup-snapsho

[2022-01-23 23:15] Nainterceptor opened #96 "Ingress compatibility with kubernetes 1.22+"
**Description**
From 1.20, API `networking.k8s.io/v1beta1` is deprecated, and removed in 1.22. To deploy in 1.22+, we have to use `networking.k8s.io/v1`

**Expected behavior**
Helm chart should deploy ingress in kubernetes 1.23

**Current behavior**
Helm chart deployment fail

**Environment (please complete the following information):**
- OS: Debian based
- MeiliSearch version: 0.25.2
- meilisearc

[2022-01-26 13:10] #96 closed

[2022-01-30 19:16] veneliniliev commented on #95
i have the same problem. install with terraform/helm on GKE.

[2022-01-31 09:59] alallema commented on #95
Thanks, @Arv1nt3 for raising this issue!

[2022-02-09 14:03] alallema commented on #89
Hi @thanhtoan1196,
Did you solve your problem? I just tested persistence with `v0.1.26` if I shut down my pod it restarts with all the data.

[2022-02-14 14:42] Arv1nt3 commented on #95
I tried to reinstall it on a new cluster and I got the same behaviour. So I have the chart `v0.1.26`  of `meilisearch-kubernetes` with image `v.0.25.2`, I don't have anything changed but the only thing that I did was set `persistence.enabled: true`. And I still get `Error: Version file is missing or the previous MeiliSearch engine version was below 0.24.0. Use a dump to update MeiliSearch.`. I don

[2022-02-14 15:20] alallema commented on #95
@Arv1nt3,
Indeed, it shouldn't happen. It is normal that this happens when persistence is enabled, it is an error that appears only when trying to start Meilisearch with a wrong `data.ms` or from an older version.
What's annoying is that it doesn't seem to start with a good folder ...
The first time you launch the pod should work well because you don't have any `/data.ms` folder yet. Is this happe

[2022-02-18 19:30] pellizzetti commented on #95
I'm facing the same error while trying to install de chart in AKS. I'm using the following values:

[code]

But the pod never gets to run.

[code]
It fails with `CrashLoopBackOff` logging the error
[code]
---

Environment:

**Image:** `getmeili/meilisearch:v0.25.2`
**Chart version:** `0.1.26`

[2022-02-19 10:45] fr3fou commented on #95
I've been experiencing the same issue with GKE

[2022-02-22 03:20] pellizzetti commented on #95
Tried with the image from the PR (`getmeili/meilisearch:test-docker-v0.26.0`) mentioned by @fr3fou and it works! (:

[2022-02-22 09:49] alallema commented on #95
Hi @pellizzetti,
Thanks for the feedback! @irevoire has create a specific branch for trying the new image:
[test-docker-v0.26.0](https://github.com/meilisearch/meilisearch-kubernetes/tree/test-docker-v0.26.0)
Thanks to him ❤️

[2022-02-22 10:26] irevoire commented on #95
Hey folks, if the PR solves your issue I would love it if you could let a comment or an emoji reaction just so we have a count of how many peoples it helped and see how useful it is 👍
Also I’m currently creating another image for the v0.25.2 to eases your tests

[2022-03-02 18:47] kacy opened #102 "Enabling Ingress Requires Port Override in Config"
**Description**
In the event that an end developer wants to [enable ingress](https://github.com/meilisearch/meilisearch-kubernetes/blob/main/charts/meilisearch/values.yaml#L53), they also have to [override the Service Port to port 80](https://github.com/meilisearch/meilisearch-kubernetes/blob/main/charts/meilisearch/values.yaml#L46) since it's [hardcoded](https://github.com/meilisearch/meilisearch

[2022-03-03 14:55] alallema commented on #102
Hi @kacy,
Thank you for raising this issue! Indeed, this is not practical at all. I think the best solution is to allow the Helm template to set a variable with the default value at 7700.
If you still want to open a PR to fix this it would be so great ❤️

[2022-03-04 02:29] huguesalary commented on #95
The PR does solve the issue

[2022-03-04 15:50] kacy commented on #102
Sure thing. I made the change here https://github.com/meilisearch/meilisearch-kubernetes/pull/103

Let me know if you have different thoughts. Thanks!

[2022-03-14 16:04] #102 closed

[2022-03-18 09:51] johankok opened #104 "Installation with enabled ingress fails on Kubernetes >=1.19"
**Description**

When installing the chart with ingress enabled, Helm refuses to install the application with the error below.

This issue is introduced by #103. `.Values.service.port` exists in the global scope, but not in within the `.range` block. I've created a Pull Request to resolve this.

**Expected behavior**
Successfully deployed helm chart.

**Current behavior**

[code]

**Environment (p

[2022-03-20 06:01] robeng1 opened #106 "Meilisearch (v0.26.0) failed to infer the version of the database. Please consider using a dump to load your data."
Description
Trying to install on EKS and this error keeps coming up. Its a fresh installation so there's no previous dump.
Meilisearch doesn't start, it just logs the above error. It works when persistence is disabled

Heres what my values.yml looks like
[code]

[2022-03-21 08:49] alallema commented on #104
Hi @johankok,
Thank you for raising this issue and for your PR!

[2022-03-21 09:40] #104 closed

[2022-03-21 11:18] alallema commented on #106
Hi @robeng1,
Thank you for raising this issue. This problem is related to this issue #95 and should be fixed in the next release. The error message has been [update](https://github.com/meilisearch/meilisearch/pull/2095/files) since that is why you probably did not find it.
I will close it to avoid duplication.

[2022-03-21 11:18] #106 closed

[2022-03-23 10:24] tuimz opened #107 "Allow customizing service account"
Allow to re-use a specific existing service acount

[2022-03-25 08:11] veneliniliev commented on #24
I have the same problem.
after updating the cluster, the PVC is deleted and re-created

[2022-03-27 09:21] #107 closed

[2022-03-28 08:42] alallema commented on #24
Hi @veneliniliev,
Thanks for raising this issue. Indeed it seems that this issue hasn't been fixed. Can I ask how did you proceed to update your cluster did you uninstall and reinstall the helm chart?

[2022-05-04 13:09] veneliniliev commented on #95
i install a new, clean release and i have the same problem again.
how to solve it?

`Error: Meilisearch (v0.26.1) failed to infer the version of the database. Please consider using a dump to load your data.`

[2022-05-04 13:24] alallema commented on #95
Hi @veneliniliev,
This issue will be fixed in the next release v0.27.0, if you want to try it with the [pre-release](https://github.com/meilisearch/meilisearch/releases/tag/v0.27.0rc3) it will be great to have your feedback on it! Otherwise you still can follow this comment:

Thanks for the feedback! @irevoire has created a specific branch for trying the new image:
[test-docker-v0.26.0](https://gi

[2022-05-16 11:58] alallema commented on #89
I closed this issue because it is no longer relevant and no problems have been reported since.

[2022-05-16 11:58] #89 closed

[2022-05-18 03:19] Thearas opened #111 "Support multi replicas"
**Description**

Same as https://github.com/meilisearch/meilisearch-kubernetes/issues/25. Any update?
(I can't reopen it so I open a new one)

Can I just change pvc's `accessModes` to `ReadWriteMany` and `replicas` to 2?

[2022-05-18 07:01] veneliniliev commented on #24
I still have a problem.
I did a clean install of the latest version of the chart and after updating the cluster everything indexed disappeared

[2022-05-18 15:32] agodard opened #112 "Set up a LoadBalancer service with a custom private IP"
I would like to programmatically set up a custom private IP on meilisearch service in order to configure a DNS entry with an Infrastructure-as-Code software like Terraform

[2022-05-19 12:53] alallema commented on #111
Hi @Thearas,
Sorry, I reopened the other question and I will close this one to keep the history. Meilisearch doesn't handle high availability, and for the moment the team is not working on it anymore. My bad I should explain that in the main issue.
Using the ReadWriteMany mode for mounted volumes could work to have a backup instance running (needs to be tested) but the data consistency can’t be gu

[2022-05-19 12:53] #111 closed

[2022-05-19 12:58] alallema commented on #25
_Information update:_
For now, Meilisearch doesn't manage high availability, and for the moment the team doesn't work on it anymore. I close this topic until the subject is put back in the roadmap.

[2022-05-19 12:58] #25 closed

[2022-05-24 16:46] beshkenadze opened #116 "Ingress does not contain a valid IngressClass"
**Description**
The nginx controller causes the error "Ignoring ingress because of error while validating ingress class".
The networking.k8s.io/v1 API requires to use the nginx class name.

**Expected behavior**
Should work.

**Current behavior**
Doesn't work.

**Environment (please complete the following information):**
- Meilisearch version: meilisearch-0.1.33
- meilisearch-kubernetes version: v

[2022-05-25 11:36] #116 closed

[2022-05-25 12:10] NishaSharma14 commented on #24
We are also facing the same issue. We have the `persistence.enabled: true` and with helm uninstall it's deleting the PVC as well.

[2022-05-25 15:05] churdstheword opened #118 "BUG: Chart renders Invalid YAML when Ingress option is enabled"
**Description**
The helm chart yields invalid YAML when the ingress option is enabled.

**Expected behavior**
The helm chart should yield valid k8s manifests with valid YAML syntax.

**Current behavior**
Running the following command:
[code]

Yields the following error:
[code]

If you add the debug flag to the previous command, you can see the invalid syntax  in the output:
[code]

![image](https:

[2022-05-29 22:37] alallema commented on #118
Thanks @churdstheword,
For raising this issue!

[2022-06-07 16:39] Leen15 opened #120 "No namespace property in PersistentVolumeClaim"
**Description**
In the generated YAML manifest, the PersistentVolumeClaim hasn't the namespace property.

**Expected behavior**
When the helm chart is created in a namespace that is not "default", the chart should create a PVC in the same namespace of the chart.

**Current behavior**
The chart fails to run due to "persistentvolumeclaim "meilisearch" not found."

**Screenshots or Logs**
![image](ht

[2022-06-08 10:00] alallema commented on #120
Hi @Leen15,
Thanks for raising this issue.

[2022-06-08 10:06] Leen15 commented on #120
@alallema just another thing:
Using a PersistentVolumeClaim invalidate the ability to scale the statefulSet to more than one replica.
A volumeClaimTemplate should be used instead.

[2022-06-08 10:11] alallema commented on #120
Thanks for the advice 😊, but at the moment `Meilisearch` does not have the capacity to handle more than one replica. I let you check both issues for more details #111 #25.

[2022-06-16 13:13] #118 closed

[2022-06-17 14:07] Tchoupinax commented on #118
The job has failed : https://github.com/meilisearch/meilisearch-kubernetes/runs/6919025401?check_suite_focus=true :(

[2022-06-17 16:11] alallema commented on #118
Hi @Tchoupinax,
Good catch thank you! It should be good now

[2022-06-17 16:54] Tchoupinax commented on #118
Thank you @alallema!

[2022-06-18 10:36] Tchoupinax commented on #118
Hi again @alallema,

It seems that the chart is still not published.
I gave a look on the pipeline and [here](https://github.com/meilisearch/meilisearch-kubernetes/runs/6939306280?check_suite_focus=true), I found that:

[code]
I think that you fixed the CI and restarted it but the git difference was already passed and so the CI did not push the chart. :(

[2022-06-20 07:45] alallema commented on #118
Oopsy ...
Thanks again @Tchoupinax ❤️
This time it should be fixed!

[2022-06-21 09:33] Tchoupinax commented on #118
It seems good :)
Thank you for your reactivity ❤️

[2022-06-24 14:58] vincentri commented on #24
any update?

[2022-06-28 20:06] deshetti commented on #24
We had to create our own helm chart to support this and a few other features the current helm chart doesn't support like setting the master key from a secret: https://github.com/factly/helm-charts/tree/main/charts/meilisearch

The mount path on the helm chart is also wrong as of today.

Another major issue for which I am currently having to use this workaround: https://github.com/meilisearch/meili

[2022-06-30 07:54] veneliniliev commented on #24
today I had this problem again.
For 5 hours, customers had problems with our application because of this.
it is unusable in the constant updates of GKE.
obviously, we will have to think of other search solutions for our application.

[2022-06-30 16:08] miguelmoreba commented on #24
I had the same issue described here. This is how I avoided it:

I stopped using the helm chart and created a `kustomization` file, using the manifests provided in this repo and tweaking them to my needs. I think the issue has to do with the PVC becoming "orphan" whenever the helm chart is uninstalled.

- Make sure to create a `storageClass` with `reclaimPolicy` set to `Retain`
- When creating your

[2022-07-07 09:23] NishaSharma14 commented on #24
Hi @alallema ,
The workaround does not work me. I changed the mount path to `/meili_data` but the PVC still get deleted on `helm uninstall`

[2022-07-13 11:30] NishaSharma14 commented on #24
We had to create our own helm chart to and apply changes to support the persistence. Thanks, @deshetti I took the reference from your repo.

[2022-07-13 15:54] alallema commented on #24
Hi @NishaSharma14,
I'm sorry to hear that and I understand your frustration. But like I said it's not one of our priorities right now. I will try to fix it as soon as possible.

[2022-08-24 23:26] spy1233 opened #126 "Helm installation not working"
**Description**
Helm installation not working.

**Expected behavior**
Should be successfully installed.

**Current behavior**
[code]

**Screenshots or Logs**
If applicable, add screenshots or logs to help explain your problem.

**Environment (please complete the following information):**
- OS: macOS monterey 12.5
- Meilisearch version:
- meilisearch-kubernetes version:

[2022-08-25 11:37] alallema commented on #126
Hi @spy1233,
Thanks for raising this issue, it's on me, I reversed the last release v0.2.0 and I didn't remove some elements.

[2022-08-25 18:57] #126 closed

[2022-09-05 13:20] veneliniliev commented on #24
any update?

[2022-09-16 07:33] Vashiru opened #129 "Update to 0.28.1"
**Description**
Helm chart is still pinned to 0.28.0 even though 0.28.1 has been released. (PR incoming)

**Expected behavior**
Helm chart to be updated.

**Current behavior**
Helm chart hasn't been updated.

[2022-09-19 15:19] alallema commented on #129
Fixed in #130

[2022-09-19 15:19] #129 closed

[2022-10-03 14:31] baraeb92 opened #133 "Please update to support v.0.29"
**Description**
Meilisearch just released the v.0.29 updates, and we would like to use it using this library.  https://github.com/meilisearch/meilisearch/releases/tag/v0.29.0

**Basic example**
We would like to benefit from the Meilisearch v.0.29.0 by using the Kubernetes library

**Other**
We are using both the meilisearch-go and meilisearch-kubernetes in our repository.

We are not sure whether

[2022-10-03 15:18] #133 closed

[2022-10-21 16:17] churdstheword commented on #24
@veneliniliev I am not here often and I am guessing that you've probably moved on from this, but I tell you how we danced around this issue.

We used a feature of helm that prevents k8s resources from being deleted when uninstalling.
[https://helm.sh/docs/howto/charts_tips_and_tricks/#tell-helm-not-to-uninstall-a-resource](https://helm.sh/docs/howto/charts_tips_and_tricks/#tell-helm-not-to-uninsta

[2022-10-24 08:15] alallema commented on #24
Hi @churdstheword,
Thank you so much for this work around and for taking the time to share it here ❤️

[2022-10-28 05:59] PykupeJIbc opened #142 "Extra curly brace in helm chart ingress template"
**Description**
I tried deploy meilisearch with helm chart, and found mistake in ingress label:

**Expected behavior**
`app.kubernetes.io/managed-by: Helm`

**Current behavior**
`app.kubernetes.io/managed-by: Helm}`

**Screenshots or Logs**
[code]

**Environment (please complete the following information):**
- meilisearch-kubernetes version: v0.1.41

[2022-11-16 15:34] pauldn-wttj opened #149 "Add possibility to mount additional volumes on StatefulSet"
Hello, :wave:

Thanks for your work on Meilisearch and on the Helm chart ! We are currently using it on Kubernetes and we'd like to add a small feature to make it more convenient for users to add volumes on pods or specify environment variables from `ConfigMap` or `Secret`.

**Description**

We want to add the possibility to mount additional volumes to the StatefulSet pods to have another way to i

[2022-11-17 15:15] #149 closed